ws-voice/src/main/wsdl/Voice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ums.no/ws/vb/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ums.no/ws/vb/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is a service for sending voice messages on the telephone network. A message is built using either text-to-speech or a collection of soundclips. To get an account and a password, contact the UMS Sales office on telephone +47 23501600, or email us on info@ums.no</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ums.no/ws/vb/">
      <s:element name="sendVoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:ACCOUNT" />
            <s:element minOccurs="1" maxOccurs="1" name="settings" type="tns:SendingSettings" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfRECIPIENT" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messages" type="tns:ArrayOfArrayOfVOCFILE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ACCOUNT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendingSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SendingName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageCaching" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Profile" type="tns:SendingProfile" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfigProfile" type="tns:SendingProfile" />
          <s:element minOccurs="1" maxOccurs="1" name="Schedule" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="HiddenNumber" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendingProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRECIPIENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RECIPIENT" type="tns:RECIPIENT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RECIPIENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PinCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfVOCFILE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfVOCFILE" nillable="true" type="tns:ArrayOfVOCFILE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVOCFILE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOCFILE" nillable="true" type="tns:VOCFILE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VOCFILE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:VOCTYPE" />
          <s:element minOccurs="0" maxOccurs="1" name="sz_tts_string" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="l_langpk" type="tns:LANGUAGE" />
          <s:element minOccurs="0" maxOccurs="1" name="audiodata" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="VOCTYPE">
        <s:restriction base="s:string">
          <s:enumeration value="TTS" />
          <s:enumeration value="WAV" />
          <s:enumeration value="RAW" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="LANGUAGE">
        <s:restriction base="s:string">
          <s:enumeration value="NORWEGIAN" />
          <s:enumeration value="BRITISH" />
          <s:enumeration value="USENGLISH" />
          <s:enumeration value="DUTCH" />
          <s:enumeration value="SWEDISH" />
          <s:enumeration value="DANISH_POUL" />
          <s:enumeration value="DANISH_METTE" />
          <s:enumeration value="GERMAN" />
          <s:enumeration value="SPANISH" />
          <s:enumeration value="ITALIAN" />
          <s:enumeration value="FINNISH" />
        </s:restriction>
      </s:simpleType>
      <s:element name="sendVoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendVoiceResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="tns:ACCOUNT" />
            <s:element minOccurs="1" maxOccurs="1" name="referenceNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusResult" type="tns:ArrayOfSTATUS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTATUS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STATUS" nillable="true" type="tns:STATUS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STATUS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReferenceNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SendingStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemStatus" type="tns:ItemStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="SecondsSpent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishedTime" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="LastStatusUpdate" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SendingAttempts" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusShort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAvailableStatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="tns:ACCOUNT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAvailableStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAvailableStatusesResult" type="tns:ArrayOfItemStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItemStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemStatus" type="tns:ItemStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="cancelVoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="tns:ACCOUNT" />
            <s:element minOccurs="1" maxOccurs="1" name="referenceNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="itemNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelVoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cancelVoiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="previewTTS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="tns:ACCOUNT" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="tns:ArrayOfVOCFILE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="previewTTSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="previewTTSResult" type="tns:ArrayOfVOCFILE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendVoiceSoapIn">
    <wsdl:part name="parameters" element="tns:sendVoice" />
  </wsdl:message>
  <wsdl:message name="sendVoiceSoapOut">
    <wsdl:part name="parameters" element="tns:sendVoiceResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getAvailableStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:getAvailableStatuses" />
  </wsdl:message>
  <wsdl:message name="getAvailableStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:getAvailableStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="cancelVoiceSoapIn">
    <wsdl:part name="parameters" element="tns:cancelVoice" />
  </wsdl:message>
  <wsdl:message name="cancelVoiceSoapOut">
    <wsdl:part name="parameters" element="tns:cancelVoiceResponse" />
  </wsdl:message>
  <wsdl:message name="previewTTSSoapIn">
    <wsdl:part name="parameters" element="tns:previewTTS" />
  </wsdl:message>
  <wsdl:message name="previewTTSSoapOut">
    <wsdl:part name="parameters" element="tns:previewTTSResponse" />
  </wsdl:message>
  <wsdl:portType name="VoiceSoap">
    <wsdl:operation name="sendVoice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">For multiple numbers pr recipient add as comma separated list in order of priority ( 004799999999,004723232323,004732323232 )</wsdl:documentation>
      <wsdl:input message="tns:sendVoiceSoapIn" />
      <wsdl:output message="tns:sendVoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusSoapIn" />
      <wsdl:output message="tns:getStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableStatuses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all available statuses which includes status code, short text and text</wsdl:documentation>
      <wsdl:input message="tns:getAvailableStatusesSoapIn" />
      <wsdl:output message="tns:getAvailableStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancelVoice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method cancels all messages on a reference number. ItemNumber is for future use, just add -1 for now</wsdl:documentation>
      <wsdl:input message="tns:cancelVoiceSoapIn" />
      <wsdl:output message="tns:cancelVoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="previewTTS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method returns an array of VOCFILEs containing a WAV file. This VOCFILE object should be used as input when sending a Voice message</wsdl:documentation>
      <wsdl:input message="tns:previewTTSSoapIn" />
      <wsdl:output message="tns:previewTTSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VoiceSoap" type="tns:VoiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendVoice">
      <soap:operation soapAction="http://ums.no/ws/vb/sendVoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://ums.no/ws/vb/getStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableStatuses">
      <soap:operation soapAction="http://ums.no/ws/vb/getAvailableStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelVoice">
      <soap:operation soapAction="http://ums.no/ws/vb/cancelVoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewTTS">
      <soap:operation soapAction="http://ums.no/ws/vb/previewTTS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VoiceSoap12" type="tns:VoiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendVoice">
      <soap12:operation soapAction="http://ums.no/ws/vb/sendVoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://ums.no/ws/vb/getStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableStatuses">
      <soap12:operation soapAction="http://ums.no/ws/vb/getAvailableStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelVoice">
      <soap12:operation soapAction="http://ums.no/ws/vb/cancelVoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewTTS">
      <soap12:operation soapAction="http://ums.no/ws/vb/previewTTS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Voice">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is a service for sending voice messages on the telephone network. A message is built using either text-to-speech or a collection of soundclips. To get an account and a password, contact the UMS Sales office on telephone +47 23501600, or email us on info@ums.no</wsdl:documentation>
    <wsdl:port name="VoiceSoap" binding="tns:VoiceSoap">
      <soap:address location="https://secure.ums2.no/PAS/ws_pasutv/WS/Voice.asmx" />
    </wsdl:port>
    <wsdl:port name="VoiceSoap12" binding="tns:VoiceSoap12">
      <soap12:address location="https://secure.ums2.no/PAS/ws_pasutv/WS/Voice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>