ws-pas/CapProxy/Service References/CapServiceReference/no.ums.pas.cap1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/no.ums.pas.cap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/no.ums.pas.cap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CapFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CapFault" nillable="true" type="tns:CapFault" />
  <xs:complexType name="CapFaultCouldNotWriteFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CapFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CapFaultCouldNotWriteFile" nillable="true" type="tns:CapFaultCouldNotWriteFile" />
</xs:schema>