UMSAlertiX/Web References/AlertiXStatusApi/StatusApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://webservice.api.alertix.jpipe.cellvision" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://vo.webservice.api.alertix.jpipe.cellvision" xmlns:ns1="http://domain.common.alertix.jpipe.cellvision" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://webservice.api.alertix.jpipe.cellvision" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.api.alertix.jpipe.cellvision">
      <xsd:element name="getAllJobs">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getAllJobsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:AllJobsResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getJobStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:JobId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getJobStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:JobStatusResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAlertStatusByCountryCode">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:JobId" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAlertStatusByCountryCodeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:CountryCodeAlertStatusResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.webservice.api.alertix.jpipe.cellvision">
      <xsd:complexType name="AllJobsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:int" />
          <xsd:element minOccurs="0" name="jobInfos" nillable="true" type="ns1:ArrayOfJobInfo" />
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="successful" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JobStatusResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:int" />
          <xsd:element minOccurs="0" name="jobStatus" nillable="true" type="ns1:JobStatus" />
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="successful" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CountryCodeAlertStatusResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xsd:int" />
          <xsd:element minOccurs="0" name="countryStatusCounts" nillable="true" type="ns1:ArrayOfCountryCodeAlertStatus" />
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="successful" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://domain.common.alertix.jpipe.cellvision">
      <xsd:complexType name="ArrayOfJobInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="JobInfo" nillable="true" type="ns1:JobInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JobInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="areaName" nillable="true" type="ns1:AreaName" />
          <xsd:element minOccurs="0" name="executeMode" nillable="true" type="ns1:ExecuteMode" />
          <xsd:element minOccurs="0" name="executor" nillable="true" type="ns1:UserId" />
          <xsd:element minOccurs="0" name="expiry" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="jobId" nillable="true" type="ns1:JobId" />
          <xsd:element minOccurs="0" name="jobStatus" nillable="true" type="ns1:JobStatus" />
          <xsd:element minOccurs="0" name="started" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="JobId">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ExecuteMode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="UNKNOWN" />
          <xsd:enumeration value="LIVE" />
          <xsd:enumeration value="SIMULATE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="UserId">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="JobStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PREPARING" />
          <xsd:enumeration value="PROCESSING_SUBSCRIBERS" />
          <xsd:enumeration value="NO_SUBSCRIBERS" />
          <xsd:enumeration value="PREPARED" />
          <xsd:enumeration value="PREPARED_LOCK" />
          <xsd:enumeration value="SUBMITTING" />
          <xsd:enumeration value="ERROR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="AreaName">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCountryCodeAlertStatus">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CountryCodeAlertStatus" nillable="true" type="ns1:CountryCodeAlertStatus" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CountryCodeAlertStatus">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="countryCode" type="xsd:int" />
          <xsd:element minOccurs="0" name="deliveredSuccessfully" type="xsd:int" />
          <xsd:element minOccurs="0" name="deliveryExpired" type="xsd:int" />
          <xsd:element minOccurs="0" name="deliveryFailed" type="xsd:int" />
          <xsd:element minOccurs="0" name="deliveryUnknown" type="xsd:int" />
          <xsd:element minOccurs="0" name="initialized" type="xsd:int" />
          <xsd:element minOccurs="0" name="queued" type="xsd:int" />
          <xsd:element minOccurs="0" name="submissionFailed" type="xsd:int" />
          <xsd:element minOccurs="0" name="submitted" type="xsd:int" />
          <xsd:element minOccurs="0" name="subscribersCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAlertStatusByCountryCodeResponse">
    <wsdl:part name="parameters" element="tns:getAlertStatusByCountryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllJobsResponse">
    <wsdl:part name="parameters" element="tns:getAllJobsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllJobsRequest">
    <wsdl:part name="parameters" element="tns:getAllJobs" />
  </wsdl:message>
  <wsdl:message name="getJobStatusRequest">
    <wsdl:part name="parameters" element="tns:getJobStatus" />
  </wsdl:message>
  <wsdl:message name="getAlertStatusByCountryCodeRequest">
    <wsdl:part name="parameters" element="tns:getAlertStatusByCountryCode" />
  </wsdl:message>
  <wsdl:message name="getJobStatusResponse">
    <wsdl:part name="parameters" element="tns:getJobStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="StatusApiPortType">
    <wsdl:operation name="getAllJobs">
      <wsdl:input name="getAllJobsRequest" message="tns:getAllJobsRequest" />
      <wsdl:output name="getAllJobsResponse" message="tns:getAllJobsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getJobStatus">
      <wsdl:input name="getJobStatusRequest" message="tns:getJobStatusRequest" />
      <wsdl:output name="getJobStatusResponse" message="tns:getJobStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAlertStatusByCountryCode">
      <wsdl:input name="getAlertStatusByCountryCodeRequest" message="tns:getAlertStatusByCountryCodeRequest" />
      <wsdl:output name="getAlertStatusByCountryCodeResponse" message="tns:getAlertStatusByCountryCodeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatusApiHttpBinding" type="tns:StatusApiPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllJobs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllJobsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllJobsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobStatus">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getJobStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getJobStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlertStatusByCountryCode">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAlertStatusByCountryCodeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAlertStatusByCountryCodeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatusApi">
    <wsdl:port name="StatusApiHttpPort" binding="tns:StatusApiHttpBinding">
      <wsdlsoap:address location="http://lbv.netcom.no:8080/alertix/StatusApi" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>